test_csv.ipynb
dane.csv
testowanie_funkjonalnosc.py
chart.png
instance/login_data.db
licznik.jpg
chart2.png
__pycache__/
saved_data.db
default.db
electric-data-bcc46-firebase-adminsdk-90nfi-09810ff75f.json
.env