{% extends "base.html" %} 

{% from "_render_field.html" import render_field %}
{% block title %}Home - My Website{% endblock %}
{%block body %}
<h1>Zdalny odczyt licznika elektrycznego</h1> <br>
<form method="POST" action="{{ url_for('login')}}" novalidate>
    {{ form.hidden_tag() }} 

    {{ render_field(form.username) }}
    {{ render_field(form.password) }}

  {{ form.recaptcha }}
  {{ form.submit(class="btn btn-primary")}}
</form>
{% if validate %}
  <div class="alert alert-danger w-25 mt-1" role="alert">
    Błędny login lub hasło
  </div>
{% endif %}
{% endblock %}
